.phoneshow{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.phoneshow .nav-bar{
    width: 100%;
    margin: 0 auto;
    background-color: #ccc;
   height: 50px;
}
.phoneshow .nav-bar .link{
    float: left;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
}
.phoneshow .nav-bar .link a{
    color: darkorange;
}
.phoneshow .nav-bar .navbar-show{
    
}
.phoneshow .nav-bar .navbar-show .nav-item{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    line-height: 50px;
}
.phoneshow .nav-bar .navbar-show .nav-item a{
    color: cornsilk;
}
.phoneshow .proudctBox{
    margin-top: 10px;
    display: flex;
	flex-wrap: wrap;
	margin: 10px auto;
}
.proudctBox .card{
    argin-right: 1%;
	margin-bottom: 10px;
	width: 19.2%;
}
.phoneshow .proudctBox img{
    width: 100%;
}
.proudctBox h3{
    text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.proudctBox .text{
    margin-left: 20px;
    font-size: 14px;
    color: mediumvioletred;
}