body{
    background-color: #ccc;
}
.container{
    width: 760px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.container .column{
    box-sizing: border-box;
    width: 240px;
    margin-right: 20px;
}
.card{
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 3px 3px 10px 0 #222;
}
.card .lazyImg{
    background: url("../images/default.gif") no-repeat center center #fff;   
}
.card .lazyImg img{
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease;
}
.card p{
    font-size: 12px;
    line-height: 20px;
    color: #000;
    margin-top: 5px;
}